/* body {
  margin: 0;
  background-color: #f1f1f1;
  font-family: Arial, Helvetica, sans-serif;
} */
/* 
nav {
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  transition: top 0.3s;

  >
} */




.navbar {
  width: 100%;
  
  z-index:1;
  display:none;
}
.fixed {
  
  display: block;
  position:fixed;
}

.jobbg {
  background-image: url("../img/findjob-gr.jpg");
  background-attachment: fixed;
  background-position: center;
  background-blend-mode: multiply;
  background-size: cover;
  z-index:0;
  position:relative;
  width: 100%;
  height: 815px;
  display: flex;
  flex-direction: column;
  min-height: 85vh;
}
.saveJob .saved {
  color: #fff;
  background-color: #fcb831;
}
.bg-dark {
  background-color: rgba(0, 211, 255, 0.61)!important;
}
.btn-outline-info {
  color: black;
  border-color: #17a2b8;
}

.animated {
  color: rgba(39, 27, 94, 0.705);
  font-size: 56px;
  line-height: 53px;
  margin: 0;
  font-family: font-file-82132;
  font-weight: 400;
}

span.animated {
  display: inline-block;
/* padding: 15px 60px;
 background: #0079ff;
 color: #fff;
 border-radius: 5px;  
 text-decoration: none; */

 animation-duration: 1s;
 animation-fill-mode: both;
 animation-iteration-count: 1;
}

span.animated:hover {
 color: lightgreen;

 animation-name: rubberBand;
}


@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, .95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
}

.display-1 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2;
}

/*  */
